/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.custom-container{
    width: 1024px;
    margin: auto;
}

mat-card {
    margin :10px 0px;
}