<!--div [ngBusy]="{busy: busy1, message: 'Loading...', wrapperClass:'truck-busy'}"></div-->
<div class="col-md-3 col-sm-6 col-xs-10 bg-white br-5 div-center">
    <div class="row border-bottom-5 px-40">
        <div class="col-xs-12">
            <h3 class="font-bold my-15">Login</h3>
        </div>
    </div>
    <form class="py-15 px-40 jobForm-modal" (ngSubmit)="onSubmit(login)" id="loginForm" [formGroup]="login">
        <div class="form-group">
            <label for="username">Login ID</label>
            <input type="text" formControlName="username" name="username" id="username" class="form-control" required="required" placeholder="Login ID"
            />
            <div *ngIf="login.get('username').touched && login.get('username').hasError('required')" class="alert p-0 mt-5 text-danger"
                role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> Login ID required
            </div>
        </div>
    
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" name="password" id="password" placeholder="Password" class="form-control"
                required="required" />
            <div *ngIf="login.get('password').touched && login.get('password').hasError('required')" class="alert p-0 mt-5 text-danger"
                role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> Password required
            </div>
        </div>
        <div class="form-actions text-center">
            <button type="submit" class="btn btn-yellow font-bold" [disabled]="!login.valid">Login</button>
        </div>
    </form>
    </div>