<!--<div fxLayout fxLayoutAlign="center">
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field class="example-full-width">
      <input formControlName="username" matInput placeholder="Username" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="password" type="password" matInput placeholder="Password">
    </mat-form-field>

    <mat-checkbox>Remember me!</mat-checkbox>

    <button type="submit" mat-raised-button color="primary">Login</button>

  </form>
</div>-->