.nav {
    background-color: #43A7FE;
    color:  white;
    margin-top:0px;
    padding: 5px;
    text-align: center;
}
.save {
    background-color: #43A7FE;
    color:  white;
}

.form-lay{
    padding: 5px;
}